<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Flow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Flow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Flow.My.MySettings>
      <setting name="Edition" serializeAs="String">
        <value>Lite</value>
      </setting>
      <setting name="PathIconGallery" serializeAs="String">
        <value>Images\IconGallery\</value>
      </setting>
      <setting name="PathCommandLayouts" serializeAs="String">
        <value>XML\CommandLayouts\</value>
      </setting>
      <setting name="PathCultures" serializeAs="String">
        <value>XML\KeyboardCultures\</value>
      </setting>
      <setting name="PathXmlTemplates" serializeAs="String">
        <value>XML\Templates\</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>1.04</value>
      </setting>
    </Flow.My.MySettings>
  </applicationSettings>
  <userSettings>
    <Flow.My.MySettings>
      <setting name="TriggerKey" serializeAs="String">
        <value>Alt-Q</value>
      </setting>
      <setting name="DefaultLayoutFilename" serializeAs="String">
        <value>Start.xml</value>
      </setting>
      <setting name="CultureName" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="SoundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFirstTimeAppRuns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InstalledPath" serializeAs="String">
        <value>dummy</value>
      </setting>
      <setting name="RevertToHomeLayoutOnActivation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSplashScreen" serializeAs="String">
        <value>True</value>
      </setting>
    </Flow.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
